<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <div class="container-fluid"></div>
            </div>
            <div class="col-sm-7">
                <span class="skill-tag">PROGRAMMING SKILLS</span>
                <h4 class="mt-4">
                    <ul>
                        <li>Python</li>
                        <p><ngb-progressbar type="success" [value]="90" ><i>Advanced</i></ngb-progressbar></p>
                        <li>C#</li>
                        <p><ngb-progressbar  [value]="85"><i>Competent</i></ngb-progressbar></p>
                        <li>HTML, CSS, JS</li>
                        <p><ngb-progressbar type="warning" [value]="70"><i>Competent</i></ngb-progressbar></p>
                        <li>.NET</li>
                        <p><ngb-progressbar type="secondary" [value]="70"><i>Competent</i></ngb-progressbar></p>
                        <li>SQL</li>
                        <p><ngb-progressbar type="secondary" [value]="70"><i>Competent</i></ngb-progressbar></p>
                        
                    </ul></h4>  
            </div>
        </div>
    </div>
</section>
