<header>
<div class="col-sm-12 cv-flex cv-flex-jc-sb">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent mb-3">
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/home']" [routerLinkActive]="['is-active']" (click)="isCollapsed = true">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/about']" [routerLinkActive]="['is-active']" (click)="isCollapsed = true">About</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/cv']" [routerLinkActive]="['is-active']" (click)="isCollapsed = true">CV</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/contact']" [routerLinkActive]="['is-active']" (click)="isCollapsed = true">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</header>