<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <p class="mt-3 mb-4">I'm a linguist turned programmer.
                    </p>
                <div class="container-fluid"></div>
            </div>
            <div class="col-sm-7">
                <span class="about-tag">Languages</span>
                <h4 class="mt-4">
                    <ul>
                        <li>English</li>
                        <p><ngb-progressbar type="success" [value]="100"><i>Advanced</i></ngb-progressbar></p>
                        <li>Russian</li>
                        <p><ngb-progressbar type="success" [value]="100" ><i>Native</i></ngb-progressbar></p>
                        <li>Swedish</li>
                        <p><ngb-progressbar type="secondary" [value]="90"><i>Advanced</i></ngb-progressbar></p>
                        <li>Spanish</li>
                        <p><ngb-progressbar type="secondary" [value]="80"><i>Competent</i></ngb-progressbar></p>
                        <li>Tatar</li>
                        <p><ngb-progressbar type="secondary" [value]="100"><i>Native</i></ngb-progressbar></p>
                        <li>Catalan</li>
                        <p><ngb-progressbar type="secondary" [value]="60"><i>Competent</i></ngb-progressbar></p>
                        
                    </ul></h4>  
            </div>
        </div>
    </div>
</section>