
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="cv-profile"></div>
            </div>
            <div class="col-6">
                <span class="cv-tag">Machine Learning</span>
                <span class="cv-tag">Software Development</span>
                <h1 class="mt-4">Guzal Bulatova</h1>
                <p class="cv-descr mt-3 mb-4">Machine learning engineer and full-stack developer based in Gothenburg. Experience with collaborating on an open-source
                project and working in a scrum-group. Comfortable with solving tasks independently. Open, positive and reliable!
                </p>
                <a href="#" class="cv-readmore">Read more <img src="assets/img/arrows.png" alt="readmore icon" width="20" class="ml-2"></a>
                <h4 class="mt-4"> Number of GitHub repos: {{numRepos}}</h4>

            </div>
        </div>
    </div>
</section>
